In [ ]:
! bzcat bookings.csv.bz2 | head -10000 > bookings.sample.csv

In [ ]:
! bzcat bookings.csv.bz2 | wc -l

In [1]:
! wc -l bookings.sample.csv

10000 bookings.sample.csv

In [6]:
! cat bookings.csv.bz2 | wc -l

1825297

In [7]:
! bzcat bookings.csv.bz2 | wc -l

10000011

In [1]:
import pandas as pd
import numpy as np

In [2]:
archivo = pd.read_csv('bookings.csv.bz2', sep="^", nrows=10000)

In [3]:
archivo.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [4]:
archivo.to_csv('bookings.sample.csv', sep="^")

In [5]:
pd.read_csv('bookings.sample.csv', sep="^", nrows=10000).head()

,Unnamed: 0,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [6]:
pd.read_csv('searches.csv.bz2', sep="^", nrows=10000).to_csv('searches.sample.csv', sep="^")
pd.read_csv('searches.sample.csv', sep="^", nrows=10000).head()

,Unnamed: 0,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL

In [7]:
pd.read_csv('searches.csv.bz2', sep="^", nrows=10000)

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,ICT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,RNB,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL
5,2013-01-01,22:00:28,MPT,3561a60621de06ab1badc8ca55699ef3,US,IAH,BLR,1,2,IAH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
6,2013-01-01,10:47:14,MPT,d327ca6e35cc6732d4709828327ac7c1,DK,CPH,PAR,1,2,CPH,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,CPH
7,2013-01-01,23:39:49,MPT,38a3abb0a28e3f00fa79a11f552a5052,FR,PAR,DUB,1,2,PAR,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
8,2013-01-01,17:08:46,MPT,c8daef4f8bf73a61aa2c928705f7b82d,ES,DUS,ACE,1,2,DUS,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,MAD
9,2013-01-01,19:57:57,MPT,28d7a8c95e4db88589d3d35b66920e78,DE,FRA,BGW,1,2,FRA,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BNJ
10,2013-01-01,18:01:31,MPT,b2771a31dc32d1e4af0ea7d758b8442b,FR,PAR,BUD,1,2,PAR,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
11,2013-01-01,09:32:18,FFP,53aea156edeed571bbc473c82b01ac4b,BR,RIO,POA,1,2,RIO,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SAO
12,2013-01-01,05:41:14,CAL,dfa4f720052cefaf2e1fe40befc016e6,HK,HKG,MXP,1,2,HKG,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,HKG
13,2013-01-01,07:05:45,MPT,d03a30f66f773a65aad66e7bafd1110f,GR,BCN,LON,0,1,BCN,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,ATH
14,2013-01-01,03:30:49,MPT,b04e0620a297a1b50819d31535aa5b61,US,CLE,SNN,1,2,CLE,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,DTW
15,2013-01-01,09:19:41,FCP,7da60d9e60a322d3fff7e00cb62baa53,BR,BSB,SLZ,0,1,BSB,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SAO
16,2013-01-01,06:20:43,MPT,440642a9bdaeb6287f826cefd73255e8,US,PEK,PHL,0,1,PEK,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,HPN
17,2013-01-01,18:54:24,MPT,8b4fa4e121637f583bfa86ef0fa26c9e,US,BOS,GRU,1,2,BOS,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LAS
18,2013-01-01,10:47:24,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,TBS,IKT,0,1,TBS,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
19,2013-01-01,19:02:13,MPT,cf4ae41b25a075c3a8fee145e1919199,NL,LON,HKG,1,2,LON,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,AMS
20,2013-01-01,18:38:29,MPT,ef16c4545ce42ab4c753f44780accf94,ES,MAD,SEA,1,2,MAD,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BCN
21,2013-01-01,14:07:13,FXP,8e26311e3f5deaceabc65406c823f84d,DE,DUS,STN,1,2,DUS,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BER
22,2013-01-01,15:14:09,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,PAD,FUE,0,1,PAD,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
23,2013-01-01,23:32:58,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,DUS,IST,1,2,DUS,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
24,2013-01-01,10:39:09,MPT,909e0b385888f1305839025d209a5a93,GB,BHX,VIE,1,2,BHX,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LON
25,2013-01-01,13:49:17,MTP,5b0992ae324105dc3d730db5c42569e8,BR,CGB,SAO,0,1,CGB,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,RIO
26,2013-01-01,21:22:10,MPT,074543ae7a58f4f4c0833d023b2c0db7,CH,ZRH,BRI,1,2,ZRH,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,GVA
27,2013-01-01,18:33:28,CCP,3565e31495ecfd46fa018339d20382b1,SA,RUH,JED,0,1,RUH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,JED
28,2013-01-01,16:59:19,MPT,0c618d30c252b880d8a83ebb76af7643,SE,UME,CPH,1,2,UME,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
29,2013-01-01,21:25:37,FFP,cb028e2166a95168fee7d483a463ae54,DE,FRA,DRS,0,1,FRA,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,2013-01-10,12:08:38,FFP,8e26311e3f5deaceabc65406c823f84d,DE,DUS,VIE,0,1,DUS,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BER
9971,2013-01-10,06:12:10,FFP,5162190b6c6ff3f227e5dd590f507060,KR,ICN,VIE,1,2,ICN,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SEL
9972,2013-01-10,20:50:23,MPT,2f9d10dbf02fd449702df6eae636fe6a,FR,PAR,TUN,1,2,PAR,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
9973,2013-01-10,01:06:28,MPT,84d45f6fb4344fb462055952f2ee6358,GB,LBA,GLA,1,2,LBA,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LON
9974,2013-01-10,20:23:27,MPT,966af57bac7a9b07b029ebb01e0e9574,GR,VIE,STR,1,2,VIE,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,ATH
9975,2013-01-10,21:31:38,MPT,6f9c1c7ba1a910a6244947f06ec59ea9,CA,YVR,LAX,1,2,YVR,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,YTO
9976,2013-01-10,19:12:55,CAL,f282ef6274931d16b653d3c0d71a3a28,UA,KBP,GYD,0,1,KBP,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,IEV
9977,2013-01-10,07:23:23,MPT,9c5e851643abfcb37c341170facb43ec,NO,OSL,BGJ,1,2,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL
9978,2013-01-10,05:31:04,MPT,3561a60621de06ab1badc8ca55699ef3,US,MLI,SDF,1,2,MLI,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
9979,2013-01-10,14:25:57,MPT,3561a60621de06ab1badc8ca55699ef3,US,MIA,MLA,1,2,MIA,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
9980,2013-01-10,18:29:45,MPT,e1280f68de74803dacdf8ba736b9917f,TH,BKK,LAX,0,1,BKK,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BKK
9981,2013-01-10,01:01:39,MPT,440642a9bdaeb6287f826cefd73255e8,US,NYC,UIO,1,2,NYC,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,HPN
9982,2013-01-10,15:05:28,MTP,236cbf458f79dbb9d5e9c9430438c3db,US,LGW,DXB,1,2,LGW,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,HPN
9983,2013-01-10,02:03:33,MPT,3561a60621de06ab1badc8ca55699ef3,US,SDF,PUJ,1,2,SDF,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
9984,2013-01-10,20:12:56,FFP,1e62035c48b1c6a87b782477552882d3,BR,GRU,OPO,1,2,GRU,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SAO
9985,2013-01-10,07:12:11,MPT,367937ca733d0d562ca6b751274304c8,GB,BHX,HAM,0,1,BHX,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LON
9986,2013-01-10,05:24:04,MPT,9fa3c5f8c103001aab5022bb8c463dcb,AU,IVC,VLI,0,2,IVC,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SYD
9987,2013-01-10,15:26:24,FFP,336eba61d844aa8cefcc48cc1e2ce3e1,GR,ATH,LON,1,2,ATH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,ATH
9988,2013-01-10,03:12:07,MPT,49cf63409788c2fa585f132cd0ca697d,CA,YYC,ROM,1,2,YYC,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,YTO
9989,2013-01-10,19:15:24,MPT,63d35a15724f95939e6d0dd0ca39be16,DE,DUS,INN,1,2,DUS,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BRE
9990,2013-01-10,15:08:44,MPT,69cede70ffea2435621303e7e3114eb2,DK,CPH,LHR,0,1,CPH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,CPH
9991,2013-01-10,14:39:47,FXP,e0ca92b506fbf482891d34ccebad0f32,DE,HAM,WDH,1,6,HAM,...,HAM,2013-10-18,KP,J,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,BRE
9992,2013-01-10,12:05:35,MPT,6abcf3118f899e9f6fd7abe9e1167304,PT,OPO,MUC,0,1,OPO,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,LIS
9993,2013-01-10,11:45:01,FXX,5a59deba021eacb7a54d813ddcb4ce2a,ZA,CPT,BFN,0,1,CPT,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,7c676d48c11dae25a2c3e99bfbd42639,JNB
9994,2013-01-10,00:01:42,MPT,b695299cc14ddcd1e31f1c922b3e258c,US,ORD,MIL,1,2,ORD,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SJC
9995,2013-01-10,08:37:04,FQD,e8741eaf2fa2f71f931475d18fa72096,US,BJX,LAX,0,1,BJX,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SEA
9996,2013-01-10,10:58:46,FCP,7da60d9e60a322d3fff7e00cb62baa53,BR,GRU,REC,0,1,GRU,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,SAO
9997,2013-01-10,15:32:04,FXA,be00295076af5aa39c27a0af17b58b26,DE,FRA,PEK,0,2,FRA,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,CGN
9998,2013-01-10,16:45:10,MPT,38a3abb0a28e3f00fa79a11f552a5052,FR,ROM,PAR,0,1,ROM,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PAR
9999,2013-01-10,20:58:01,MPT,e511e247924b91b23c9e7a114d2cee25,ES,MAD,CUN,1,2,MAD,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,PMI

In [9]:
! pip install tqdm

Collecting tqdm
  Downloading https://files.pythonhosted.org/packages/ed/d6/3458d39cf4978f4ece846295e83daf5ece710ab0a4106774f7f7b3a68697/tqdm-4.29.1-py2.py3-none-any.whl (46kB)
    100% |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 51kB 64kB/s ta 0:00:01
Installing collected packages: tqdm
Successfully installed tqdm-4.29.1
You are using pip version 9.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [10]:
import bz2
from tqdm import tqdm

archivo = bz2.open('bookings.csv.bz2', 'rt')
contador = 0
for line in tqdm(archivo):
    contador += 1
    
archivo.close()
    
print(contador)

10000011it [03:01, 55221.11it/s]

10000011

In [11]:
archivo = pd.read_csv('bookings.csv.bz2', "^", nrows=1000)
archivo.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [12]:
archivo[archivo['year'] == 2013].groupby(['arr_port'], as_index=False).sum().sort_values(by='pax', ascending=False).head(10)

     arr_port  duration  distance  intl  pax   year  month
58   DCA          98970         0     2   50  24156     36
93   JFK         207834     21990    14   14  32208     48
72   FLL          57787      7284     2   13  10065     15
148  PVG        1450466     20434    13   13  28182     42
43   CGK         210580         0     8   12  16104     24
104  LGA          40714      2030     0   12  28182     42
174  SVO         551647      2582     9   12  18117     27
99   LAS          87384       380     4   11  22143     33
30   BOS          24562     17725     2   11  18117     27
125  MIA         169809      9608     7   11  38247     57

In [13]:
! bzcat 'bookings.csv.bz2' | wc -l

^C

In [16]:
chunks = pd.read_csv('bookings.csv.bz2', "^", chunksize=1000)
resultados = []
for chunk in chunks:
    resultados.append(chunk[['arr_port', 'pax']][chunk['year'] == 2013].groupby(['arr_port'], as_index=False).sum())

In [17]:
arrejuntados = pd.concat(resultados)
arrejuntados

     arr_port   pax
0    ACC        6.0
1    ADD        2.0
2    AGP        6.0
3    ALA        2.0
4    ALC        4.0
5    ALG        0.0
6    AMD        1.0
7    AMS        1.0
8    ANC        0.0
9    ASU      -10.0
10   ATH        4.0
11   ATL        3.0
12   ATQ        1.0
13   AUH        0.0
14   AUS        2.0
15   AYT        0.0
16   BBI        0.0
17   BCN        5.0
18   BEY        4.0
19   BHM       -1.0
20   BJV        8.0
21   BJX        2.0
22   BKK        2.0
23   BLQ        2.0
24   BLR        0.0
25   BNA        4.0
26   BNE        6.0
27   BOG        0.0
28   BOI        3.0
29   BOM        5.0
..        ...   ...
183  SMR        0.0
184  SSH        2.0
185  STI        1.0
186  STL        4.0
187  SUF        2.0
188  SVO        1.0
189  SYD        2.0
190  SYR        2.0
191  TLV        2.0
192  TPA        4.0
193  TUL        1.0
194  TXL        4.0
195  ULN        0.0
196  VAR        2.0
197  VCE        9.0
198  VRN        0.0
199  VSA        1.0
200  VVO       -2.0
201  WAW        1.0
202  WDH        0.0
203  WGA        2.0
204  YVR        7.0
205  YYC        8.0
206  YYZ        8.0
207  ZRH       10.0
0    LAS        4.0
1    MAA        2.0
2    MEL        2.0
3    ORY        2.0
4    RDU        1.0

[2131644 rows x 2 columns]

In [18]:
final = arrejuntados.groupby(['arr_port'], as_index=False).sum().sort_values(by='pax', ascending=False).head(10)
final

      arr_port      pax
1088  LHR       88809.0
1190  MCO       70930.0
1050  LAX       70530.0
1047  LAS       69630.0
886   JFK       66270.0
315   CDG       64490.0
216   BKK       59460.0
1228  MIA       58150.0
1719  SFO       58000.0
517   DXB       55590.0

In [19]:
searches=pd.read_csv('searches.csv.bz2', "^", nrows=1000)

In [20]:
searches.head()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,ICT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,RNB,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL

In [22]:
! bzcat searches.csv.bz2| wc -l

 20390198

In [72]:
chunks= []

for i in pd.read_csv('searches.csv.bz2', sep= '^', chunksize=1000, usecols=['Date', 'Destination']):
    chunks.append(i.sample(1))
                          
bloque= pd.concat(chunks)

In [73]:
bloque

                Date Destination
299       2013-01-01         LHR
1374      2013-01-02         VNS
2799      2013-01-03         STR
3980      2013-01-04         JFK
4587      2013-01-05         TOS
5948      2013-01-06         BKK
6382      2013-01-07         PRG
7261      2013-01-08         NYC
8685      2013-01-09         JED
9125      2013-01-10         CDG
10491     2013-01-11         YYZ
11416     2013-01-12         FRA
12624     2013-01-13         DPS
13438     2013-01-14         HKG
14903     2013-01-15         CHS
15037     2013-01-16         PAR
16839     2013-01-17         SJD
17195     2013-01-18         PRG
18078     2013-01-19         BCN
19938     2013-01-20         ODS
20591     2013-01-21         IST
21569     2013-01-22         JED
22959     2013-01-23         YYZ
23890     2013-01-24         AMS
24178     2013-01-25         AUH
25620     2013-01-26         LON
26714     2013-01-27         EDI
27363     2013-01-28         LHR
28491     2013-01-29         WAS
29786     2013-01-30         RGN
...              ...         ...
20361740  2013-09-15         MOW
20362764  2013-09-16         CMN
20363404  2013-09-17         LHR
20364708  2013-09-18         SJO
20365852  2013-09-19         ATL
20366355  2013-09-20         PAR
20367363  2013-09-21         BKK
20368684  2013-09-22         MAD
20369786  2013-09-23         HAM
20370766  2013-09-24         YVR
20371626  2013-09-25         CGK
20372261  2013-09-25         ROV
20373524  2013-09-27         LYS
20374866  2013-09-28         MIA
20375583  2013-09-29         ZRH
20376546  2013-09-30         LON
20377166  2013-09-30         DUS
20378143  2013-10-01         FCO
20379524  2013-10-03         EZE
20380421  2013-10-04         NYC
20381700  2013-10-05         MUC
20382368  2013-10-06         CPH
20383712  2013-10-07         TRV
20384927  2013-10-08         MVD
20385053  2013-10-08         BCN
20386213  2013-10-09         UIO
20387237  2013-10-10         MFM
20388479  2013-10-12         TSA
20389504  2013-10-13         NYC
20390191  2013-10-13         BRS

[20391 rows x 2 columns]

In [74]:
bloque['Date'] = bloque['Date'].apply(lambda x: x[:7])
bloque['unit']=1
bloque.groupby(['Date', 'Destination']).count().sort_values(by='unit', ascending=False)

                     unit
Date    Destination
2013-09 BKK            62
2013-10 BKK            45
2013-08 BKK            45
2013-03 BKK            43
2013-01 LON            41
2013-11 BKK            41
2013-04 BCN            39
2013-07 LON            39
2013-04 BKK            39
2013-01 BKK            38
2013-05 BKK            38
2013-08 LON            37
2013-12 BKK            36
2013-02 LON            35
2013-07 BCN            35
2013-03 LON            35
2013-08 PAR            35
2013-06 BKK            35
2013-01 MIA            34
2013-04 LON            34
2013-10 LON            34
2013-05 LON            34
2013-06 LON            34
2013-01 LHR            33
        BCN            32
2013-02 BKK            32
2013-10 PAR            32
2013-01 NYC            31
2013-11 NYC            31
2013-02 BCN            31
...                   ...
2013-06 KUA             1
        GYD             1
        IND             1
        GYN             1
        HAN             1
        HAV             1
        HHN             1
        HOU             1
        HRG             1
        HTA             1
        IBR             1
        IFO             1
        IGU             1
        IKA             1
        IKT             1
        IPC             1
        KRS             1
        IZM             1
        JHM             1
        JMK             1
        JPR             1
        JRS             1
        JTY             1
        KBP             1
        KGD             1
        KIN             1
        KIX             1
        KOA             1
        KRK             1
2013-12 ZTH             1

[6045 rows x 1 columns]

# CorrecciÃ³n Clase

In [92]:
s= pd.read_csv('searches.csv.bz2', sep='^', usecols=['Date', 'Destination'], nrows=1000)

In [93]:
s['Date'] = pd.to_datetime(s['Date'])

In [157]:
s.set_index('Date', inplace=True)

KeyError: 'Date'

In [95]:
s.index.month

Int64Index([1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
            ...
            1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
           dtype='int64', name='Date', length=1000)

In [96]:
# ===============  OTRA OPCIÃ“N  ========== #

In [97]:
s.dtypes

Destination    object
dtype: object

In [98]:
s['Date'] = s['Date'].apply(lambda x: x[:7])

KeyError: 'Date'

In [71]:
s['unit']=1
s.groupby(['Date', 'Destination']).count().sort_values(by='unit', ascending=False)

Empty DataFrame
Columns: []
Index: [(2013-01, ABT), (2013-01, ABX), (2013-01, ACC), (2013-01, ACE), (2013-01, ADB), (2013-01, ADD), (2013-01, AGP), (2013-01, AGU), (2013-01, AJU), (2013-01, AKL), (2013-01, ALA), (2013-01, ALC), (2013-01, ALG), (2013-01, AMD), (2013-01, AMM), (2013-01, AMS), (2013-01, ARN), (2013-01, ASU), (2013-01, ATH), (2013-01, ATL), (2013-01, ATQ), (2013-01, AUH), (2013-01, AYT), (2013-01, BBI), (2013-01, BCN), (2013-01, BDS), (2013-01, BER), (2013-01, BEY), (2013-01, BGA), (2013-01, BGI), (2013-01, BGO), (2013-01, BGW), (2013-01, BGY), (2013-01, BHX), (2013-01, BHZ), (2013-01, BIL), (2013-01, BIS), (2013-01, BJA), (2013-01, BJV), (2013-01, BJX), (2013-01, BKI), (2013-01, BKK), (2013-01, BLQ), (2013-01, BLR), (2013-01, BMA), (2013-01, BNA), (2013-01, BNE), (2013-01, BOB), (2013-01, BOD), (2013-01, BOG), (2013-01, BOM), (2013-01, BOO), (2013-01, BOS), (2013-01, BRI), (2013-01, BRU), (2013-01, BUD), (2013-01, BUE), (2013-01, BUF), (2013-01, BUH), (2013-01, BVE), (2013-01, BWI), (2013-01, BWK), (2013-01, BZO), (2013-01, CAG), (2013-01, CAI), (2013-01, CAS), (2013-01, CCJ), (2013-01, CCU), (2013-01, CDG), (2013-01, CEB), (2013-01, CGK), (2013-01, CGN), (2013-01, CHI), (2013-01, CLE), (2013-01, CLT), (2013-01, CMB), (2013-01, CMH), (2013-01, CMN), (2013-01, CNS), (2013-01, COK), (2013-01, CPH), (2013-01, CPT), (2013-01, CRK), (2013-01, CTA), (2013-01, CTS), (2013-01, CUN), (2013-01, CUZ), (2013-01, DAC), (2013-01, DEL), (2013-01, DEN), (2013-01, DFW), (2013-01, DJE), (2013-01, DLM), (2013-01, DME), (2013-01, DMK), (2013-01, DMM), (2013-01, DOH), (2013-01, DPS), (2013-01, DRS), (2013-01, DRW), ...]

[371 rows x 0 columns]

In [ ]:
# ========= #

In [76]:
s= pd.read_csv('searches.csv.bz2', sep='^', usecols=['Date', 'Destination'], nrows=1000)
s=s.dropna()

In [77]:
sfiltrado = s[s['Destination'].isin(['MAD', 'BCN', 'AGP'])]

In [78]:
sfiltrado

           Date Destination
4    2013-01-01         MAD
93   2013-01-01         AGP
113  2013-01-01         BCN
147  2013-01-01         AGP
151  2013-01-01         MAD
165  2013-01-01         BCN
177  2013-01-01         BCN
186  2013-01-01         BCN
188  2013-01-01         BCN
208  2013-01-01         BCN
229  2013-01-01         BCN
242  2013-01-01         AGP
253  2013-01-01         BCN
322  2013-01-01         BCN
365  2013-01-01         BCN
375  2013-01-01         MAD
406  2013-01-01         MAD
458  2013-01-01         AGP
481  2013-01-01         BCN
500  2013-01-01         BCN
509  2013-01-01         MAD
541  2013-01-01         BCN
593  2013-01-01         BCN
606  2013-01-01         MAD
618  2013-01-01         BCN
623  2013-01-01         BCN
628  2013-01-01         BCN
633  2013-01-01         BCN
641  2013-01-01         BCN
674  2013-01-01         AGP
688  2013-01-01         MAD
747  2013-01-01         BCN
767  2013-01-01         BCN
780  2013-01-01         BCN
791  2013-01-01         MAD
797  2013-01-01         BCN
798  2013-01-01         MAD
804  2013-01-01         BCN
809  2013-01-01         BCN
835  2013-01-01         AGP
895  2013-01-01         MAD
897  2013-01-01         MAD
904  2013-01-01         AGP
992  2013-01-01         BCN

In [99]:
sfiltrado['Year-Months'] = sfiltrado['Date'].apply(lambda x: x[:7])

KeyError: 'Date'

In [80]:
sfiltrado

           Date Destination Year-Months
4    2013-01-01         MAD     2013-01
93   2013-01-01         AGP     2013-01
113  2013-01-01         BCN     2013-01
147  2013-01-01         AGP     2013-01
151  2013-01-01         MAD     2013-01
165  2013-01-01         BCN     2013-01
177  2013-01-01         BCN     2013-01
186  2013-01-01         BCN     2013-01
188  2013-01-01         BCN     2013-01
208  2013-01-01         BCN     2013-01
229  2013-01-01         BCN     2013-01
242  2013-01-01         AGP     2013-01
253  2013-01-01         BCN     2013-01
322  2013-01-01         BCN     2013-01
365  2013-01-01         BCN     2013-01
375  2013-01-01         MAD     2013-01
406  2013-01-01         MAD     2013-01
458  2013-01-01         AGP     2013-01
481  2013-01-01         BCN     2013-01
500  2013-01-01         BCN     2013-01
509  2013-01-01         MAD     2013-01
541  2013-01-01         BCN     2013-01
593  2013-01-01         BCN     2013-01
606  2013-01-01         MAD     2013-01
618  2013-01-01         BCN     2013-01
623  2013-01-01         BCN     2013-01
628  2013-01-01         BCN     2013-01
633  2013-01-01         BCN     2013-01
641  2013-01-01         BCN     2013-01
674  2013-01-01         AGP     2013-01
688  2013-01-01         MAD     2013-01
747  2013-01-01         BCN     2013-01
767  2013-01-01         BCN     2013-01
780  2013-01-01         BCN     2013-01
791  2013-01-01         MAD     2013-01
797  2013-01-01         BCN     2013-01
798  2013-01-01         MAD     2013-01
804  2013-01-01         BCN     2013-01
809  2013-01-01         BCN     2013-01
835  2013-01-01         AGP     2013-01
895  2013-01-01         MAD     2013-01
897  2013-01-01         MAD     2013-01
904  2013-01-01         AGP     2013-01
992  2013-01-01         BCN     2013-01

In [82]:
sfiltrado.drop('Date', axis=1, inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [84]:
sfiltrado['searches']=1

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [90]:
sfiltrado.groupby(['Destination', 'Year-Months']).sum()

                         searches
Destination Year-Months
AGP         2013-01             7
BCN         2013-01            26
MAD         2013-01            11

In [91]:
sfiltrado = sfiltrado.reset_index().pivot(index='Year-Months', columns='Destination')

ValueError: Index contains duplicate entries, cannot reshape

In [ ]:
sfiltrado.plot(figsize= (12,4))

# Cuarto Challenge

In [231]:
searches = pd.read_csv('searches.csv.bz2', sep = '^', nrows=10000).drop_duplicates()
searches.head()

,Date,Time,TxnCode,OfficeID,Country,Origin,Destination,RoundTrip,NbSegments,Seg1Departure,...,Seg6Arrival,Seg6Date,Seg6Carrier,Seg6BookingCode,From,IsPublishedForNeg,IsFromInternet,IsFromVista,TerminalID,InternetOffice
0,2013-01-01,20:25:57,MPT,624d8c3ac0b3a7ca03e3c167e0f48327,DE,TXL,AUH,1,2,TXL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,FRA
1,2013-01-01,10:15:33,MPT,b0af35b31588dc4ab06d5cf2986e8e02,MD,ATH,MIL,0,1,ATH,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,KIV
2,2013-01-01,18:04:49,MPT,3561a60621de06ab1badc8ca55699ef3,US,ICT,SFO,1,2,ICT,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,NYC
3,2013-01-01,17:42:40,FXP,1864e5e8013d9414150e91d26b6a558b,SE,RNB,ARN,0,1,RNB,...,NaN,NaN,NaN,NaN,1ASI,0,0,0,d41d8cd98f00b204e9800998ecf8427e,STO
4,2013-01-01,17:48:29,MPT,1ec336348f44207d2e0027dc3a68c118,NO,OSL,MAD,1,2,OSL,...,NaN,NaN,NaN,NaN,1ASIWS,0,0,0,d41d8cd98f00b204e9800998ecf8427e,OSL

In [232]:
books = pd.read_csv('bookings.csv.bz2', sep = '^', nrows=10000).drop_duplicates()
books.head()
books.columns

Index(['act_date           ', 'source', 'pos_ctry', 'pos_iata', 'pos_oid  ',
       'rloc          ', 'cre_date           ', 'duration', 'distance',
       'dep_port', 'dep_city', 'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry',
       'lst_port', 'lst_city', 'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry',
       'off_port', 'off_city', 'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry',
       'intl', 'route          ', 'carrier', 'bkg_class', 'cab_class',
       'brd_time           ', 'off_time           ', 'pax', 'year', 'month',
       'oid      '],
      dtype='object')

In [233]:
len(searches), len(books)

(10000, 10000)

In [234]:
searches = searches[['Date', 'Destination', 'Origin']]
searches.head()

         Date Destination Origin
0  2013-01-01         AUH    TXL
1  2013-01-01         MIL    ATH
2  2013-01-01         SFO    ICT
3  2013-01-01         ARN    RNB
4  2013-01-01         MAD    OSL

In [235]:
books = books[['act_date           ', 'arr_port', 'dep_port']]
books.head()

   act_date             arr_port  dep_port
0  2013-03-05 00:00:00  LHR       ZRH
1  2013-03-26 00:00:00  CLT       SAL
2  2013-03-26 00:00:00  CLT       SAL
3  2013-03-26 00:00:00  SVO       AKL
4  2013-03-26 00:00:00  SVO       AKL

In [236]:
books['Date'] = books['act_date           '].apply(lambda x: x[:10])

In [237]:
books.head()

   act_date             arr_port  dep_port        Date
0  2013-03-05 00:00:00  LHR       ZRH       2013-03-05
1  2013-03-26 00:00:00  CLT       SAL       2013-03-26
2  2013-03-26 00:00:00  CLT       SAL       2013-03-26
3  2013-03-26 00:00:00  SVO       AKL       2013-03-26
4  2013-03-26 00:00:00  SVO       AKL       2013-03-26

In [238]:
books.drop('act_date           ', axis=1, inplace=True)

In [239]:
books.head()

   arr_port  dep_port        Date
0  LHR       ZRH       2013-03-05
1  CLT       SAL       2013-03-26
2  CLT       SAL       2013-03-26
3  SVO       AKL       2013-03-26
4  SVO       AKL       2013-03-26

In [242]:
pd.merge(books, searches, left_on='Date', right_on= 'Date', how='left')

      arr_port  dep_port        Date Destination Origin
0     LHR       ZRH       2013-03-05         NaN    NaN
1     CLT       SAL       2013-03-26         NaN    NaN
2     CLT       SAL       2013-03-26         NaN    NaN
3     SVO       AKL       2013-03-26         NaN    NaN
4     SVO       AKL       2013-03-26         NaN    NaN
5     LGA       DEN       2013-03-20         NaN    NaN
6     LGA       DEN       2013-03-20         NaN    NaN
7     SIN       NRT       2013-03-25         NaN    NaN
8     SIN       NRT       2013-03-25         NaN    NaN
9     SIN       NRT       2013-03-25         NaN    NaN
10    SIN       NRT       2013-03-25         NaN    NaN
11    SIN       NRT       2013-03-28         NaN    NaN
12    SIN       NRT       2013-03-28         NaN    NaN
13    SIN       NRT       2013-03-28         NaN    NaN
14    SIN       NRT       2013-03-28         NaN    NaN
15    SIN       NRT       2013-03-28         NaN    NaN
16    SIN       NRT       2013-03-28         NaN    NaN
17    SIN       NRT       2013-03-28         NaN    NaN
18    SIN       NRT       2013-03-28         NaN    NaN
19    TUS       YYZ       2013-03-13         NaN    NaN
20    CTA       FCO       2013-03-25         NaN    NaN
21    CTA       FCO       2013-03-25         NaN    NaN
22    YWG       BDQ       2013-03-12         NaN    NaN
23    YWG       BDQ       2013-03-12         NaN    NaN
24    YWG       BDQ       2013-03-13         NaN    NaN
25    YWG       BDQ       2013-03-13         NaN    NaN
26    YWG       BDQ       2013-03-18         NaN    NaN
27    YWG       BDQ       2013-03-19         NaN    NaN
28    YWG       BDQ       2013-03-19         NaN    NaN
29    YWG       BDQ       2013-03-19         NaN    NaN
...        ...       ...         ...         ...    ...
9970  XQP       SJO       2013-03-22         NaN    NaN
9971  YVR       LAX       2013-03-22         NaN    NaN
9972  GMP       HND       2013-03-04         NaN    NaN
9973  NRT       JFK       2013-03-17         NaN    NaN
9974  NRT       JFK       2013-03-17         NaN    NaN
9975  NRT       JFK       2013-03-18         NaN    NaN
9976  NRT       JFK       2013-03-18         NaN    NaN
9977  LHR       KUL       2013-03-11         NaN    NaN
9978  LHR       KUL       2013-03-11         NaN    NaN
9979  LHR       KUL       2013-03-12         NaN    NaN
9980  LHR       KUL       2013-03-12         NaN    NaN
9981  ARN       NCE       2013-03-26         NaN    NaN
9982  ARN       NCE       2013-03-26         NaN    NaN
9983  MRS       MNL       2013-03-26         NaN    NaN
9984  SBZ       MUC       2013-03-26         NaN    NaN
9985  SBZ       MUC       2013-03-26         NaN    NaN
9986  DXB       FCO       2013-03-26         NaN    NaN
9987  DXB       FCO       2013-03-26         NaN    NaN
9988  DXB       FCO       2013-03-27         NaN    NaN
9989  DXB       FCO       2013-03-27         NaN    NaN
9990  DXB       FCO       2013-03-28         NaN    NaN
9991  DXB       FCO       2013-03-28         NaN    NaN
9992  TRD       HAU       2013-03-26         NaN    NaN
9993  TRD       HAU       2013-03-26         NaN    NaN
9994  HAN       FRA       2013-03-11         NaN    NaN
9995  HAN       FRA       2013-03-11         NaN    NaN
9996  HAN       FRA       2013-03-12         NaN    NaN
9997  SGN       FRA       2013-03-12         NaN    NaN
9998  SGN       FRA       2013-03-12         NaN    NaN
9999  SGN       FRA       2013-03-12         NaN    NaN

[10000 rows x 5 columns]